KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR_INC)/boot/boot.o \
$(ARCHDIR_SRC)/vga.o \
$(ARCHDIR_SRC)/tty.o \
$(ARCHDIR_SRC)/keyboard.o \
$(ARCHDIR_SRC)/interrupts.o \
$(ARCHDIR_SRC)/gdt.o \
$(ARCHDIR_SRC)/tss.o \
$(ARCHDIR_SRC)/isr.o \


